name: Prepare Release
on:
  push:
    branches:
      - main
permissions:
  id-token: write
  contents: read
  pull-requests: write
jobs:
  prepare-release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
      - run: gem install --no-document faraday-retry git-pr-release
      - run: git-pr-release --squashed
        env:
          GIT_PR_RELEASE_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_PR_RELEASE_BRANCH_PRODUCTION: release
          GIT_PR_RELEASE_BRANCH_STAGING: main
          GIT_PR_RELEASE_LABELS: "release-candidate"
          GIT_PR_RELEASE_TEMPLATE: .github/RELEASE_PR_TEMPLATE
          TZ: Asia/Tokyo
